main {
  display: grid;
  grid-template-columns: [full-start] 1fr [content]max(1000px) 1fr [full-end];

  > * {
    grid-column: content;
  }

  .full {
    grid-column: full;
  }

  .bg_color {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    border-color: var(--card-border);
    border-width: 2px 0;
    padding: 2rem 0;
    margin-bottom: 1rem;

    > * {
      grid-column: content;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 4rem 0;
  }
  .about_contact {
    display: grid;
    grid-template-columns: subgrid;
    gap: 3rem;
    > * {
      grid-column: 2;
    }
    .about {
      width: 30rem;
      border-color: var(--card-border);
      border-width: 2px;
      padding: 2rem;
      border-radius: 2rem;
      /* transform: translateY(-5rem); */
    }

    .contact {
      border-color: var(--card-border);
      border-width: 2px;
      padding: 2rem;
      border-radius: 2rem;
      width: 30rem;
      /* transform: translateY(-5rem); */
    }

    .icon {
      width: 2rem;
      height: auto;
    }
    .flex {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      > * {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .projects_txt {
    margin-bottom: 4rem;
  }
  ul {
    display: flex;
    scroll-snap-type: x mandatory;
    grid-column: full;
    padding-inline: max(1rem, 50% - 1000px / 2);
    padding-block-end: 1rem;
    display: flex;
    gap: 4rem;
    overflow-x: auto;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & li {
      scroll-snap-align: center;
      flex-basis: min(700px, 90%);
      flex-shrink: 0;

      border-color: var(--card-border);
      border-width: 2px;
      border-radius: 2rem;
      padding: 2.75rem 2.1875rem;
      align-self: start;
    }

    .dynamic_grid {
      height: 500px;
      aspect-ratio: 1/1;
      display: flex;
    }
    .itmv {
      height: 500px;
      aspect-ratio: 1/1;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
