:root {
  --card-border: red;
}

/* img {
  height: 20rem;
  width: 100%;
  background-size: cover;
  object-fit: cover;
} */

@font-face {
  font-family: Tex;
  src: url(fonts/tex-gyre-adventor/texgyreadventor-bold.otf) format("opentype");
}

h1 {
  font-family: Tex;
  font-size: 600%;
  color: var(--card-border);
  /* text-transform: uppercase; */
  padding: 1rem 0;
}
